<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card updated</title>
    <style th:replace="style">
    </style>
</head>
<body>
<div class="container">
    <h1>Card updated!</h1>
    <div th:if="@{success}" th:object="${card}">
        <p th:text="'Title: ' + ${card.title}">title</p>
        <p th:text="'Author: ' + ${card.author}">author</p>
        <p th:text="'Greeting Text: ' + ${card.greetingText}">Greeting text</p>
        <a th:href="'edit/' + ${card.id}" href="#">Edit the card</a>
    </div>
    <div th:unless="@{success}">An error occured. TODO error message?</div>
    <a th:href="@{/}" href="#">Back to front page</a>
</div>
</body>
</html>
